End_to_End_Demos/NodeRED_demo/Sensor_Client_NodeRED.txt
[{"id":"cf168f35.45a95","type":"modbus-read","z":"79ec6c57.5b6074","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"30040","quantity":"2","rate":"1","rateUnit":"s","server":"850444f5.28af68","x":94,"y":61,"wires":[["1467013a.215aff"],[]]},{"id":"54bec43a.4727bc","type":"debug","z":"79ec6c57.5b6074","name":"","active":true,"console":"false","complete":"payload","x":1037.0000381469727,"y":200.00000858306885,"wires":[]},{"id":"1467013a.215aff","type":"function","z":"79ec6c57.5b6074","name":"Converter","func":"\nvar low = msg.payload[1];\nvar high = msg.payload[0];\nvar fpnum=low|(high<<16);\nvar negative=(fpnum>>31)&1;\nvar exponent=(fpnum>>23)&0xFF;\nvar mantissa=(fpnum&0x7FFFFF);\nif(exponent==255){\nif(mantissa!==0)return Number.NaN;\nreturn (negative) ? Number.NEGATIVE_INFINITY :\n     Number.POSITIVE_INFINITY;\n}\nif(exponent===0)exponent++;\nelse mantissa|=0x800000;\nexponent-=127;\nvar ret=(mantissa*1.0/0x800000)*Math.pow(2,exponent);\nif(negative)ret=-ret;\nreturn {payload:ret};\n\n\n//THIS ONE WORKS GODDAMNIT\n// var high = msg.payload[0]\n// var low = msg.payload[1]\n// var buffer = new ArrayBuffer(4);\n// var intView = new Uint16Array(buffer);\n// var floatView = new Float32Array(buffer);\n\n// intView[0] = low;\n// intView[1] = high;\n// return floatView[0];\n\n\n// function float32ToUint16(value) {\n//   var buffer = new ArrayBuffer(4);\n//   var intView = new Uint16Array(buffer);\n//   var floatView = new Float32Array(buffer);\n\n//   floatView[0] = value;\n//   return [intView[0], intView[1]];\n// }","outputs":1,"noerr":0,"x":279.00000762939453,"y":55.00000190734863,"wires":[["e03ac42c.dbc008","44a4f957.21fd88","952427e8.3a6a58","c5a96172.cc72b"]]},{"id":"e03ac42c.dbc008","type":"function","z":"79ec6c57.5b6074","name":"LimitChecker","func":"msg.value = msg.payload\nif(msg.payload < 2){\n    msg.thresh = \"Lo thresh crossed\"\n    msg.payload= [5,4]\n} else if(msg.payload > 10){\n    msg.thresh = \"Hi thresh crossed\"\n    msg.payload = [4,5]\n} else {\n    msg.payload = [4,4]\n}\nreturn msg;","outputs":1,"noerr":0,"x":463.00003814697266,"y":55.00000476837158,"wires":[["6ded85f6.b2aa9c","863a10bc.0b96d","ffa26243.2dc38"]]},{"id":"863a10bc.0b96d","type":"debug","z":"79ec6c57.5b6074","name":"","active":true,"console":"false","complete":"value","x":666.0000686645508,"y":399.0000352859497,"wires":[]},{"id":"6ded85f6.b2aa9c","type":"modbus-write","z":"79ec6c57.5b6074","name":"change LED 2","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"40017","quantity":"2","server":"850444f5.28af68","x":696.0000190734863,"y":56.00000190734863,"wires":[[],[]]},{"id":"f652a270.bbbcd","type":"mqtt out","z":"79ec6c57.5b6074","name":"","topic":"general","qos":"","retain":"","broker":"1d6f609.748599f","x":895.3000259399414,"y":283.200008392334,"wires":[]},{"id":"ffa26243.2dc38","type":"function","z":"79ec6c57.5b6074","name":"reset payload to Sensor level","func":"msg.payload = msg.value\nreturn msg;","outputs":1,"noerr":0,"x":790.3000793457031,"y":157.80000495910645,"wires":[["f652a270.bbbcd","54bec43a.4727bc"]]},{"id":"44a4f957.21fd88","type":"ui_gauge","z":"79ec6c57.5b6074","name":"","group":"f03bc82e.d4eb58","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":368.3000183105469,"y":215.20001220703125,"wires":[]},{"id":"952427e8.3a6a58","type":"ui_chart","z":"79ec6c57.5b6074","name":"","group":"f03bc82e.d4eb58","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"12","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":445.30001068115234,"y":159.20000457763672,"wires":[[],[]]},{"id":"c5a96172.cc72b","type":"ui_chart","z":"79ec6c57.5b6074","name":"","group":"357d13fe.cb449c","order":0,"width":0,"height":0,"label":"chart222","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"12","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":442.30001068115234,"y":298.200008392334,"wires":[[],[]]},{"id":"850444f5.28af68","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.137.200","tcpPort":"5042","tcpType":"DEFAULT","serialPort":"/dev/ttyO1","serialType":"RTU","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"1d6f609.748599f","type":"mqtt-broker","z":"","broker":"192.168.137.100","port":"1883","clientid":"Sensor_Radio IP 200","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f03bc82e.d4eb58","type":"ui_group","name":"Group","tab":"54430bf7.3dde24","order":null,"disp":true,"width":6},{"id":"357d13fe.cb449c","type":"ui_group","z":"","name":"2222","tab":"54430bf7.3dde24","disp":true,"width":"10"},{"id":"54430bf7.3dde24","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]